// Base
@import "./base/reset";
@import "./base/vars";
@import "./base/base";
// Blocks
@import "./blocks/header";
@import "./blocks/menu";
@import "./blocks/btn";
@import "./blocks/hero";
@import "./blocks/form";
@import "./blocks/brand";
@import "./blocks/b-info";
@import "./blocks/service";
@import "./blocks/choose";
@import "./blocks/b-schema";
@import "./blocks/b-purchased";
@import "./blocks/reviews";
@import "./blocks/b-faq";
@import "./blocks/b-place";
@import "./blocks/footer";
@import "./blocks/pagination";
@import "./blocks/b-advantages";
@import "./blocks/b-contacts";
@import "./blocks/b-map";
@import "./blocks/b-about";
@import "./blocks/b-dignity";
@import "./blocks/team";
@import "./blocks/b-about-form";
@import "./blocks/message";
@import "./blocks/404";
@import "./blocks/modal";
