.b-about {

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        @media(max-width: $breakpoint1024) {
            flex-direction: column;
            align-items: start;
            gap: 10px;
        }
    }
    &__subtitle {
        max-width: 628px;
        font-weight: 500;
        font-size: 22px;
        color: $dark-gray;

        @media(max-width: $breakpoint1024) {
            font-size: 18px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 14px;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 20px;

        @media(max-width: $breakpoint480) {
            grid-template-columns: none;
            gap: 10px;
        }
    }
    &__item {
        display: flex;
        gap: 40px;
        padding: 28px;
        border-radius: 25px;
        background-color: #fff;

        @media(max-width: $breakpoint480) {
            padding: 20px 16px;
            flex-direction: column;
            gap: 15px;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 18px;
        color: $dark-gray;

        @media(max-width: $breakpoint480) {
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.b-about-number {
    display: flex;
    flex-direction: column;
    align-items: end;

    @media(max-width: $breakpoint480) {
        align-items: start;
    }

    &__title {
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 64px;
        line-height: 110%;
        color: $accent-color;

        @media(max-width: $breakpoint480) {
            font-size: 40px;
        }
    }
    &__text {
        font-family: $secondary-font;
        font-size: 36px;
        line-height: 1;
        color: $accent-color;

        @media(max-width: $breakpoint480) {
            font-size: 24px;
        }
    }
}