.b-info {

    & p {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: $dark-gray;

        @media(max-width: $breakpoint1024) {
            font-size: 16px;
        }
        @media(max-width: $breakpoint768) {
            font-size: 14px;
        }
    }

    &__wrapper {
        max-height: 280px;
        overflow: hidden;

        &.active {
            max-height: 100%;
        }
    }

    &__title {
        margin-top: 40px;
        @media(max-width: $breakpoint1024) {
            margin-top: 30px;
        }
        @media(max-width: $breakpoint768) {
            margin-top: 24px;
        }
    }
    &__description {
        margin-top: 40px;
        @media(max-width: $breakpoint1024) {
            margin-top: 30px;
        }
        @media(max-width: $breakpoint768) {
            margin-top: 24px;
        }

        & ul {
            display: flex;
            flex-direction: column;

            & li {
                position: relative;
                padding-left: 28px;

                &::before {
                    content: '';
                    position: absolute;
                    left: 12px;
                    top: 12px;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background-color: $dark-gray;
                }
            }
        }
    }
}