.b-place {
    display: flex;
    gap: 20px;  
    min-height: 490px; 

    @media(max-width: $breakpoint768) {
        flex-direction: column;
        min-height: auto;
    }

    &__map {
        position: relative;
        border-radius: $main-radius;
        background-color: #fff;
        overflow: hidden;
        width: 50%;

        @media(max-width: $breakpoint1024) {
            width: 60%;
        }
        @media(max-width: $breakpoint768) {
            width: 100%;
            min-height: 380px;
        }
        @media(max-width: $breakpoint480) {
            min-height: 250px;
            border-radius: 20px;
        }
    }

    &__title {
        padding: 32px;
        max-width: 560px;

        @media(max-width: $breakpoint1024) {
            padding: 20px;
        }
        @media(max-width: $breakpoint480) {
            padding: 12px;
        }
    }
    &__img {
        position: absolute;
        bottom: -5px;
        right: 0;
        @media(max-width: $breakpoint768) {
            max-width: 600px;
        }
        @media(max-width: $breakpoint480) {
            max-width: 350px;
            border: 3px solid #fff;
        }
    }
    &__plate {
        background-color: $accent-color;
        border-radius: $main-radius;
        padding: 32px;
        width: 50%;

        @media(max-width: $breakpoint1024) {
            padding: 20px;
            width: 40%;
        }
        @media(max-width: $breakpoint768) {
            width: 100%;
        }
        @media(max-width: $breakpoint480) {
            padding: 14px;
            border-radius: 20px;
        }
    }
}

.plate-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    @media(max-width: $breakpoint480) {
        gap: 6px;
        justify-content: center;
    }

    &__item {
        display: flex;
    }
    &__link {
        display: flex;
        justify-content: center;
        min-width: 110px;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #fff;
        padding: 12px 24px;
        border-radius: $main-radius;
        border: 1px solid #fff;

        @media(max-width: $breakpoint1024) {
            padding: 4px 16px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 16px;
        }
    }
}