.b-schema {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(16, 55px);
    justify-items: end;
    width: 100%;

    @media(max-width: 1140px) {
        max-height: 760px;
        overflow-x: clip;
        overflow-y: scroll;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10px;
    }
    @media(max-width: $breakpoint768) {
        max-height: 570px;
    }

    &__img {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: 1;

        @media(max-width: 1240px) {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 35%;
        }
        @media(max-width: 1140px) {
            left: 100%;
            width: fit-content;
        }
        @media(max-width: $breakpoint660) {
            height: 700px;
        }
        @media(max-width: 500px) {
            left: 120%;
        }
    }

    &--main {
        & .b-schema__item {
            display: flex;
            flex-direction: column;
            padding: 24px 32px;
            border-radius: $main-radius;
            background-color: #fff;

            @media(max-width: 1140px) {
                max-width: 650px !important;
                width: 100% !important;
            }
            @media(max-width: $breakpoint768) {
                padding: 12px 10px;
                border-radius: 20px;
            }

            &:nth-of-type(1) {
                grid-row: 4/8;
                width: 90%;

                @media(max-width: 1380px) {
                    width: 95%;
                }
            }
            &:nth-of-type(2) {
                grid-row: 10/14;
                width: 80%;
                @media(max-width: 1380px) {
                    width: 85%;
                }
            }
            &:nth-of-type(3) {
                justify-self: start;
                grid-row: 2/6;
                grid-column: 2/3;
                width: 90%;

                align-items: end;
                @media(max-width: 1380px) {
                    width: 95%;
                }
                @media(max-width: 1140px) {
                    align-items: start;
                }

                & .b-schema__text {
                    text-align: end;

                    @media(max-width: 1140px) {
                        text-align: start;
                    }
                }
            }
            &:nth-of-type(4) {
                justify-self: start;
                grid-row: 7/11;
                grid-column: 2/3;
                width: 80%;
                align-items: end;

                @media(max-width: 1380px) {
                    width: 85%;
                }
                @media(max-width: 1140px) {
                    align-items: start;
                }

                & .b-schema__text {
                    text-align: end;

                    @media(max-width: 1140px) {
                        text-align: start;
                    }
                }
            }
            &:nth-of-type(5) {
                justify-self: start;
                grid-row: 12/16;
                grid-column: 2/3;
                width: 70%;
                align-items: end;

                @media(max-width: 1380px) {
                    width: 80%;
                }
                @media(max-width: 1140px) {
                    align-items: start;
                }

                & .b-schema__text {
                    text-align: end;
                    max-width: 360px;

                    @media(max-width: 1140px) {
                        text-align: start;
                    }
                }
            }
        }
    }
    &--service {
        & .b-schema__item {
            display: flex;
            flex-direction: column;
            padding: 24px 32px;
            border-radius: $main-radius;
            background-color: #fff;

            @media(max-width: 1140px) {
                max-width: 650px !important;
                width: 100% !important;
            }
            @media(max-width: $breakpoint768) {
                padding: 12px 10px;
                border-radius: 20px;
            }

            &:nth-of-type(1) {
                grid-row: 2/6;
                width: 90%;

                @media(max-width: 1380px) {
                    width: 95%;
                }
            }
            &:nth-of-type(2) {
                grid-row: 7/11;
                width: 80%;
                @media(max-width: 1380px) {
                    width: 85%;
                }

                & .b-schema__text {
                    @media(max-width: $breakpoint1280) {
                        max-width: 300px !important;
                    }
                }
            }
            &:nth-of-type(3) {
                grid-row: 12/17;
                width: 70%;

                @media(max-width: 1380px) {
                    width: 75%;
                }
                @media(max-width: 1140px) {
                    align-items: start;
                }

                & .b-schema__text {
                    max-width: 350px;

                    @media(max-width: 1600px) {
                        max-width: 280px !important;
                    }
                    @media(max-width: 1140px) {
                        text-align: start;
                    }
                }
            }
            &:nth-of-type(4) {
                justify-self: start;
                grid-row: 2/6;
                grid-column: 2/3;
                width: 80%;
                align-items: end;

                @media(max-width: 1380px) {
                    width: 85%;
                }
                @media(max-width: 1140px) {
                    align-items: start;
                }

                & .b-schema__text {
                    text-align: end;

                    @media(max-width: 1140px) {
                        text-align: start;
                    }
                }
            }
            &:nth-of-type(5) {
                justify-self: start;
                grid-row: 7/11;
                grid-column: 2/3;
                width: 90%;
                align-items: end;

                @media(max-width: 1380px) {
                    width: 80%;
                }
                @media(max-width: 1140px) {
                    align-items: start;
                }

                & .b-schema__text {
                    text-align: end;
                    max-width: 360px;

                    @media(max-width: 1140px) {
                        text-align: start;
                    }
                }
            }
            &:nth-of-type(6) {
                background-color: transparent;
                align-items: end;
                width: 95%;
                grid-row: 12/17;
                grid-column: 2/3;

                @media(max-width: 1140px) {
                    display: none;
                }

                & .b-schema__text {
                    max-width: 520px;

                    @media(max-width: 1600px) {
                        max-width: 450px !important;
                    }
                    @media(max-width: 1380px) {
                        max-width: 400px !important;
                    }
                    @media(max-width: $breakpoint1280) {
                        max-width: 350px !important;
                    }
                }
            }
        }
    }
    &__step {
        font-family: $secondary-font;
        font-weight: 600;
        font-size: 48px;
        line-height: 130%;
        color: $main-color;

        @media(max-width: $breakpoint768) {
            font-size: 30px;
        }
    }
    &__title {
        margin-top: 14px;
        font-weight: 600;
        font-size: 28px;
        line-height: 130%;
        color: $accent-color;

        @media(max-width: $breakpoint768) {
            margin-top: 8px;
            font-size: 19px;
        }
    }
    &__text {
        margin-top: 14px;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: $dark-gray;
        max-width: 440px;

        @media(max-width: 1600px) {
            max-width: 330px !important;
        }
        @media(max-width: $breakpoint768) {
            margin-top: 8px;
            font-size: 12px;
        }
        @media(max-width: 500px) {
            max-width: 210px !important;
        }
    }
}


.step-desc {
    display: none;
    width: 90%;
    @media(max-width: 1140px) {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    @media(max-width: $breakpoint480) {
        width: 95%;
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        color: $dark-gray;
    }
}