.btn {
    border-radius: $main-radius;
    transition: all .3s;

    &--red {
        background-color: $main-color;
        color: #fff;
        padding: 10px 18px;
        font-weight: 500;
        font-size: 18px;

        &:hover {
            background-color: #c01010;
        }

        @media(max-width: $breakpoint1280) {
            font-size: 16px;
        }
        @media(max-width: 1100px) {
            margin-left: auto;
        }
        @media(max-width: $breakpoint480) {
            display: none;
        }
    }
    &--mobile {
        @media(max-width: 1100px) {
            display: none;
        }
        @media(max-width: $breakpoint480) {
            display: flex;
            margin-left: 0;
            width: fit-content;
        }
    }
    &--gray {
        margin-top: 40px;
        background-color: $dark-gray;
        color: #fff;
        padding: 10px 18px;
        font-weight: 500;
        font-size: 18px;

        &:hover {
            background-color: #454545;
        }

        @media(max-width: $breakpoint768) {
            margin-top: 24px;
            font-size: 14px;
            padding: 10px 16px;
        }
    }

    &--form {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 9px 12px 9px 20px;
        background-color: #fff;
        width: fit-content;

        &:hover {
            background-color: #8f8f8f;

            & .btn__circle {
                scale: 1.1;
                background-color: #fff;
            }
            & svg {
                & path {
                    stroke: #000;
                }
            }
            & span {
                color: #fff;
            }
        }

        & span {
            font-weight: 600;
            font-size: 18px;
            color: #000;
            transition: color .3s;

            @media(max-width: $breakpoint480) {
                font-size: 14px;
            }
        }

        @media(max-width: $breakpoint480) {
            padding: 4px 4px 4px 14px;
            gap: 12px;
        }
    }
    &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 1;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        transition: all .5s;

        @media(max-width: 920px) {
            width: 34px;
            height: 34px;
        }
        & svg {

            @media(max-width: 920px) {
                width: 17px;
            }
        }

        &--black {
            background-color: #000;

            & svg {
                & path {
                    transition: stroke .3s;
                    stroke: white;
                }
    
                @media(max-width: 920px) {
                    width: 17px;
                }
            }
        }
        &--white {
            background-color: #fff;

            & svg {
                & path {
                    transition: stroke .3s;
                    stroke: $main-color;
                }
    
                @media(max-width: 920px) {
                    width: 17px;
                }
            }
        }
    }
    &--more {
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 9px 12px 9px 20px;
        background-color: $main-color;
        width: fit-content;

        @media(max-width: 920px) {
            padding: 4px 4px 4px 14px;
            gap: 12px;
        }

        &:hover {
            background-color: #c01010;

            & .btn__circle {
                scale: 1.1;
                background-color: #fff;
            }
            
        }

        & span {
            font-weight: 600;
            font-size: 18px;
            color: #fff;

            @media(max-width: 920px) {
                font-size: 14px;
            }
        }
    }

    &--white {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 80px;
        padding: 16px 20px;
        background-color: #fff;
        color: $accent-color;
        font-weight: 500;
        font-size: 18px;

        @media(max-width: $breakpoint480) {
            padding: 14px 20px;
            font-size: 14px;
            bottom: 60px;
        }
    }
    &--calc {
        margin-top: 53px;
        font-weight: 600;
        font-size: 18px;
        color: #fff;
        padding: 16px 20px;
        background-color: $main-color;
    }
}

.link-hover {
    display: inline-block;
    position: relative;
    transition: color .5s ease;

    &:hover {
        &::before {
            width: 100%;
            left: 0;
            right: 0;
        }
    }

    &:hover {
        color: $main-color;
    }

    &::before {
        content: '';
        position: absolute;
        right: 0;
        bottom: -0.15rem;
        width: 0;
        height: 2px;
        background: $main-color;
        transition: width .5s ease-out;
    }
}