.input {
    border-radius: $main-radius;
    border: 2px solid $secondary-color;
    padding: 16px 20px;
    color: #fff;
    transition: all .3s;

    &:focus {
        border-color: $dark-gray;

        &::placeholder {
            color: $dark-gray;
        }
    }

    @media(max-width: $breakpoint768) {
        padding: 12px 14px;
    }
    @media(max-width: $breakpoint480) {
        max-width: 100%;
    }

    &::placeholder {
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        transition: all .3s;

        @media(max-width: $breakpoint480) {
            font-size: 14px;
        }
    }
}

.b-form-main {
    padding: 0 20px;

    &__wrapper {
        padding: 100px;
        border-radius: $main-radius;
        background-color: $accent-color;
        background-image: url('../img/photo/glass.png');
        background-repeat: no-repeat;
        background-position: 100%;
        overflow: hidden;

        @media(max-width: $breakpoint1440) {
            background-size: 80%;
        }
        @media(max-width: $breakpoint1024) {
            padding: 40px;
            background-position: 100% 100%;
        }
        @media(max-width: $breakpoint768) {
            padding: 27px 16px 235px;
            border-radius: 25px;
            // background-size: 250%;
            background-size: 700px;
            background-position: 50% 110%;
        }
    }

    &__subtitle {
        margin-top: 20px;
        font-weight: 500;
        font-size: 18px;
        color: #fff;

        @media(max-width: $breakpoint768) {
            font-size: 14px;
            margin-top: 12px;
        }
    }
}

.form-main {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 432px;
    width: 100%;

    @media(max-width: $breakpoint768) {
        gap: 12px;
        margin-top: 30px;
    }

    & small {
        font-weight: 400;
        font-size: 14px;
        text-decoration: underline;
        text-underline-offset: 3px;
        color: #fff;

        @media(max-width: $breakpoint768) {
            font-size: 10px;
        }
    }
}