.header {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    &__top {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 0;
        border-bottom: 1px solid #E0E0E0;

        @media(max-width: $breakpoint1024) {
            display: none;
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px 0;

        @media(max-width: $breakpoint1024) {
            justify-content: unset;
        }
        @media(max-width: $breakpoint480) {
            padding: 14px 0;
        }
    }
    &__info {
        display: flex;
        align-items: center;
        gap: 24px;

        @media(max-width: $breakpoint1280) {
            gap: 12px;
        }
    }
    &__phone {
        font-weight: 700;
        font-size: 20px;
        color: $accent-color;

        @media(max-width: $breakpoint1280) {
            font-size: 16px;
        }
    }
    &__schedule {
        font-weight: 400;
        font-size: 16px;

        @media(max-width: $breakpoint1280) {
            font-size: 14px;
        }
    }
    &__title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 400;
        font-size: 16px;
        color: $main-color;

        @media(max-width: $breakpoint1280) {
            font-size: 12px;
        }
    }
}

.social {
    display: flex;
    align-items: center;
    gap: 6px;
}