.hero {
    position: relative;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: $main-radius;
    overflow: hidden;

    @media(max-width: $breakpoint1024) {
        padding: 0;
    }
    @media(max-width: $breakpoint480) {
        border-radius: 25px;
    }

    &__top {
        position: relative;
        display: flex;
        gap: 40px;

        padding: 20px 0 40px 40px;

        @media(max-width: $breakpoint480) {
            padding: 20px 16px 28px 16px;
        }
    }
    &__description {
        z-index: 1;

        &--type_1 {
            max-width: 600px;
        }
        &--type_2 {
            max-width: 750px;
        }
    }
    &__img {
        position: absolute;

        display: flex;
        aspect-ratio: 16/9;

        &--service {
            aspect-ratio: unset;
            z-index: 2;

            @media(min-width: $breakpoint1440) {
                top: 30% !important;
            }
        }

        &--type_1 {
            top: 0;
            right: 160px;

            @media(max-width: $breakpoint1440) {
                right: calc(80 * 100% / 1920);
                max-width: 520px;
                top: 60%;
                transform: translateY(-50%);
            }
            @media(max-width: $breakpoint1024) {
                max-width: 420px;
                top: 70%;
                right: calc(-200 * 100% / 1920);
            }
            @media(max-width: $breakpoint660) {
                max-height: 220px;
                top: 150px;
                transform: unset;
            }
            @media(max-width: $breakpoint480) {
                top: 110px;
                right: unset;
                left: 0;
            }
        }
        &--type_2 {
            top: 0;
            right: -20px;
            z-index: 2;
            aspect-ratio: 1;

            @media(max-width: $breakpoint1280) {
                max-width: 400px;
                top: 130px;
            }
            @media(max-width: $breakpoint768) {
                max-width: 300px;
            }
            @media(max-width: $breakpoint768) {
                max-width: 250px;
                top: 25%;
            }
        }


    }
}

.dignity-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 60px;

    @media(max-width: $breakpoint660) {
        margin-top: 240px;
    }

    @media(max-width: $breakpoint768) {
        gap: 10px;
    }

    &__item {
        display: flex;
        gap: 20px;

        @media(max-width: $breakpoint768) {
            gap: 10px;
        }

        & .circle {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 1;
            background-color: #E8E8E8;
            width: 28px;
            height: 28px;
            border-radius: 50%;

            & svg {
                width: 14px;
            }
        }
    }

    &__text {
        font-weight: 500;
        font-size: 20px;

        @media(max-width: $breakpoint768) {
            font-size: 15px;
            line-height: 1.8;
        }
    }
}

.b-hero-form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    border-radius: 30px;
    background-color: $accent-color;
    z-index: 1;
    @media(max-width: $breakpoint768) {
        padding: 28px 16px;
    }
    @media(max-width: $breakpoint480) {
        border-radius: 25px;
    }

    &__text {
        margin-top: 16px;
        font-weight: 500;
        font-size: 18px;
        color: #fff;

        @media(max-width: $breakpoint768) {
            margin-top: 10px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 14px;
        }
    }

    & small {
        margin-top: 20px;
        font-weight: 400;
        font-size: 14px;
        text-decoration: underline;
        text-underline-offset: 3px;
        color: #fff;

        @media(max-width: $breakpoint480) {
            margin-top: 10px;
            font-size: 10px;
        }
    }
}

.form-hero {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media(max-width: $breakpoint1280) {
        gap: 10px;
    }

    &__input {
        max-width: 300px;
        width: 100%;
    }
}