.pagination {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0 auto;

    &__item {
        display: flex;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        background-color: #fff;

        font-weight: 600;
        font-size: 22px;
        line-height: 130%;
        color: #000;

        @media(max-width: $breakpoint768) {
            width: 34px;
            height: 34px;
            font-size: 14px;
        }

        &--active {
           background-color: $main-color;
           color: #fff; 
        }
    }
}