@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html,
body {
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #F0F0F0;
}
.container {
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;

    &__inner {
        position: relative;
        margin-top: 40px;
        @media(max-width: $breakpoint768) {
            margin-top: 28px;  
        }
    }

    @media (max-width: 1680px) {
        padding: 0 40px;
    }
    @media (max-width: $breakpoint1024) {
        padding: 0 10px;
    }
}
.container-schema {
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;

    &__inner {
        position: relative;
        margin-top: 40px;
        @media(max-width: $breakpoint768) {
            margin-top: 28px;  
        }
    }

    &__bottom {
        margin-top: 32px;
    }

    @media (max-width: 1680px) {
        padding: 0 10px;
    }

}
.container-swiper {
    padding-left: calc((100% - 1680px) / 2);

    &__inner {
        margin-top: 40px;

        @media(max-width: $breakpoint768) {
            margin-top: 28px;  
        }
    }

    @media(max-width: 1680px) {
        padding-left: 40px;
    }
    @media(max-width: $breakpoint1024) {
        padding-left: 10px;
    }
    @media(max-width: $breakpoint480) {
        &:has(.swiper-choose) {
            padding: 0 10px;
        }
    }
}
.title-h1 {
    font-family: $secondary-font;
    font-weight: 600;
    font-size: 68px;
    line-height: 1;
    color: $accent-color;

    & span {
        color: $main-color;
    }

    @media(max-width: $breakpoint768) {
        font-size: 56px;
    }
    @media(max-width: $breakpoint660) {
        font-size: 48px;
    }
    @media(max-width: $breakpoint480) {
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
    }
}

.title-h2 {
    font-family: $secondary-font;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: $accent-color;

    @media(max-width: $breakpoint1024) {
        font-size: 32px;
    }
    @media(max-width: $breakpoint480) {
        font-size: 24px;
    }

    &--white {
        color: #fff;
    }
    &--form {
        max-width: 586px;
        @media(max-width: $breakpoint768) {
            font-size: 19px;
        }
    }
}

.title-h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 130%;
    color: $accent-color;

    @media(max-width: $breakpoint1024) {
        font-size: 24px;
    }
    @media(max-width: $breakpoint480) {
        font-size: 19px;
    }

    &--white {
        color: #fff;
    }
}
.section {
    margin-top: 120px;

    @media(max-width: $breakpoint1024) {
        margin-top: 100px;
    }
    @media(max-width: $breakpoint768) {
        margin-top: 80px;
    }

    &--schema {
        // position: relative;
    }
}
.section-top {
    margin-top: 120px;

    @media(max-width: $breakpoint1024) {
        margin-top: 80px;
    }
    @media(max-width: $breakpoint768) {
        margin-top: 40px;
    }
}
.no-scroll {
    overflow: hidden;
}