@import url("../fonts/stylesheet.css");

// color
$main-color: #D31313;
$accent-color: #282525;
$secondary-color: #E8E8E8; 
$dark-gray: #5C5C5C; 

// breakpoint 
$breakpoint1440: 1440 + px;
$breakpoint1280: 1280 + px;
$breakpoint1024: 1024 + px;
$breakpoint768: 768 + px;
$breakpoint660: 660 + px;
$breakpoint560: 560 + px;
$breakpoint480: 480 + px;

// font-family
$secondary-font: Helvetica;

// border-radius
$main-radius: 35px;